section.ac
  padding-bottom: 0
  border-bottom: 1px solid lightgray
  .section-wrap
    justify-content: space-between


  .text-wrap
    +large
      padding-left: 2.5em
      padding-right: 4em
    .heading-3
      margin-bottom: .75em
    .line-break
      margin-bottom: 1.75em
  img
    // padding: .5em]
  .image-wrap
    +medium
      padding-left: .5em
    justify-content: space-between
    .image
      &:first-of-type
        img
          margin-bottom: 1.25em
          height: 37.25em
      &:nth-of-type(2), &:nth-of-type(3)
        width: calc(50% - .75em)
        margin: 0

  p
    line-height: 1.75em
    font-size: 1.25em
    +large
      font-size: 1.5em
