//- contact-button-block

section.cbb
  border-bottom: 1px solid lightgray

  .section-wrap
    background: url('https://via.placeholder.com/1440x500/808080/808080')
    background-position: center
    height: 33.75em

  .contact-wrap
    text-align: center
    margin-top: 5em

    +medium
      align-self: flex-end
      margin-right: 7.75em

    .heading-3
      font-weight: 500
      font-size: 1.75em

    .btn
      height: 4.3em
      display: flex
      justify-content: center
      align-items: center
      margin: 1.5em auto
      font-size: 1em
      width: 14em
      vertical-align: middle
