section.hcb
  height: 25.75em
  //- temp
  // height: 28.5em
  background: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder%20Image&w=1440&h=500')
  background-position: center
  .heading-2
    display: flex
    align-items: center
    color: white
    font-size: 1.25em
    font-weight: 100
    margin-top: .75em
    svg
      fill: white
      margin-left: .5em
  .heading-1
    margin-top: 3.5em
  .heading-wrap
    height: 100%
    align-items: center
    // margin-top: 1.875em