section.spb
  justify-content: space-between
  // background: #242424
  border-bottom: 1px solid lightgray
  .project-wrap
    width: calc(50% - .75em)
  .project
    height: 18em
  .heading-3
    font-size: 1.25em
  .heading-2
    font-size: 1.5em
    // margin-top: 1.5em
