//- study-text-with-media

section.stwm
  background: #242424
  color: white
  .text-wrap
    font-size: 1.4em
    margin-top: .75em
    +medium
      column-count: 2
      // height: 10em
  .image-wrap
    justify-content: space-between
    margin-top: 7.5em
    .image
      width: calc(50% - .75em)
      img
        height: 30.5em
  .heading-3
    font-size: 1.75em
    line-height: inherit

body.case-studies
  footer, section.cbb
    background: #242424