// blog-preview-columns

section.bpc.grid-row.grid-row-width--wide.grid-row-padding--short#section3
  .grid-column.grid-row-children-alignment--hcentered.proj-wrap
    .gs--full.image-wrap
      img(src='https://via.placeholder.com/680x400/808080/FFFFFF?text=Placeholder+Image')
    .gs--full
      .grid-row.grid-row-padding--short.text-wrap
        h4.heading-4 Blog - 4/22/16
        .gs--full
          .gs--full.gl--fourthx3.gxl--fifthx3
            h3.heading-3 Lorem ipsum dolor sit amet, consectetur adipiscing
        a(href="/") Read More
          svg(viewBox="0 0 24 24" role="link" class="icon #icon-arrow")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow")
  .grid-column.grid-row-children-alignment--hcentered.proj-wrap
    .gs--full.image-wrap
      img(src='https://via.placeholder.com/680x400/808080/FFFFFF?text=Placeholder+Image')
    .gs--full
      .grid-row.grid-row-padding--short.text-wrap
        h4.heading-4 Blog - 4/22/16
        .gs--full
          .gs--full.gl--fourthx3.gxl--fifthx3
            h3.heading-3 Lorem ipsum dolor sit amet, consectetur adipiscing
        a(href="/") Read More
          svg(viewBox="0 0 24 24" role="link" class="icon #icon-arrow")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow")
