// case-study-block

section.csb.grid-row.grid-row-width-wide(style="background: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder%20Image&w=1440&h=500') center;")
  .gs--full.gm--half
    .grid-column.grid-row-padding--short.content-wrap
      h4.heading-4 Project Title and service offered
      p Can you imagine what we will be downloading in another twenty years? I mean who would have ever thought that you could record sound with digital quality fifty years ago? Now we routinely download whole albums worth of music in a couple of minutes to ipods that hold thousands of songs in the space the size of a zippo lighter!
      svg(viewBox="0 0 24 24" role="link" class="icon #icon-arrow")
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow")

