// contact-button-block


section.cbb.grid-row.grid-row-width--wide.grid-row-padding--short
   .gs--full
     .grid-column.grid-row-padding--full.section-wrap
       .gs--full.gm--half.gl--third.contact-wrap
         h3.heading-3 Lorem ipsum dolor sit amet
         a.btn.btn-1.btn-1a(href="/") Call to Action
