// hero-content-block

section.hcb
  .grid-row.grid-row-width--wide.content-wrap
    .gs--full
      .grid-row.grid-row-padding--short.heading-wrap
        .gs--full.gm--fifthx4.gl--thirdx2.gxl--half
          h1.heading-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          svg(viewBox="0 0 98.14 122.675" role="link" class="icon #icon-night")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-night")
          svg(viewBox="0 0 100 125" role="link" class="icon #icon-day")
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-day")
          //- h2.heading-2 learn how we do things
          //-   svg(viewBox="0 0 24 24" role="link" class="icon #icon-arrow")
          //-     use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow")
