//- intro-about-and-image

section.iaai.grid-row.grid-row-padding--short.grid-row-width--wide#section1
  .gs--full
    .grid-row.section-wrap
      .gs--full.gm--half
        .grid-column.grid-row-padding-short.text-wrap
          h3.heading-3 Lorem ipsum dolor.
          .line-break
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .gs--full.gm--half.image-wrap
        img(src='https://via.placeholder.com/560/808080/FFFFFF?text=Placeholder+Image')
