// quote-testimonial-block

section.qtb.grid-row.grid-row-width--wide
  .gs--full
    .grid-column.grid-row-children-alignment--centered
      .gs--fourth.gm--fifth.gl--twelveth
        img(src='https://via.placeholder.com/150/808080/FFFFFF?text=Placeholder')
      .gs--tenthx9.gm--fourthx3.gl--fifthx3.gxl--half.text-wrap
        h3.heading-3 “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        h4.heading-4 – Clark Kent, Daily Newspaper
