// similar-projects-block

section.spb.grid-row.grid-row-width--wide.grid-row-padding--short
  .project-wrap
    a(href="#")
      .grid-column.grid-row-children-alignment--centered.project(style="background: url('https://via.placeholder.com/680x400/808080/808080') no-repeat center;")
        h2.heading-2 Project Title
        h3.heading-3 Development
  .project-wrap
    a(href="#")
      .grid-column.grid-row-children-alignment--centered.project(style="background: url('https://via.placeholder.com/680x400/808080/808080') no-repeat center;")
        h2.heading-2 Project Title
        h3.heading-3 Development
