// similar-projects-block

section.spb.grid-row.grid-row-width--wide.grid-row-padding--short
  .project-wrap
    .grid-column.grid-row-children-alignment--centered.project(style="background: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=&w=680&h=400') no-repeat center;")
      h2.heading-2 Project Title
      h3.heading-3 Development
  .project-wrap
    .grid-column.grid-row-children-alignment--centered.project(style="background: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=&w=680&h=400') no-repeat center;")
      h2.heading-2 Project Title
      h3.heading-3 Development