// three-column-services-blocks

section.tcsb#section2
  .grid-row.grid-row-padding--short.grid-row-width--wide.section-wrap
    .gs--full
      .grid-row.blocks-wrap
        .grid-column.grid-row-padding--full.service-wrap
          .icon-wrap
            svg(viewBox="0 0 24 24" role="link" class="icon #icon-circle")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle")
          .text-wrap
            h2.heading-2 Block 1
            .line-break
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .grid-column.grid-row-padding--full.service-wrap
          .icon-wrap
            svg(viewBox="0 0 24 24" role="link" class="icon #icon-circle")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle")
          .text-wrap
            h2.heading-2 Block 2
            .line-break
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .grid-column.grid-row-padding--full.service-wrap
          .icon-wrap
            svg(viewBox="0 0 24 24" role="link" class="icon #icon-circle")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle")
          .text-wrap
            h2.heading-2 Block 3
            .line-break
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
