
<!-- blog-preview-entry-->
<section class="bpe grid-row grid-row-width--wide">
  <div class="gs--full entry-preview-wrap"><a href="/" class="grid-column grid-row-padding--short">Blog - 4/22/16
      <h3>Video Games Playing With Imagination</h3><span>Read More
        <svg viewBox="0 0 24 24" role="link" class="icon #icon-arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg></span></a></div>
  <div class="gs--full entry-preview-wrap"><a href="/" class="grid-column grid-row-padding--short">Blog - 4/22/16
      <h3>Video Games Playing With Imagination</h3><span>Read More
        <svg viewBox="0 0 24 24" role="link" class="icon #icon-arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg></span></a></div>
  <div class="gs--full entry-preview-wrap"><a href="/" class="grid-column grid-row-padding--short">Blog - 4/22/16
      <h3>Video Games Playing With Imagination</h3><span>Read More
        <svg viewBox="0 0 24 24" role="link" class="icon #icon-arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg></span></a></div>
  <div class="gs--full entry-preview-wrap"><a href="/" class="grid-column grid-row-padding--short">Blog - 4/22/16
      <h3>Video Games Playing With Imagination</h3><span>Read More
        <svg viewBox="0 0 24 24" role="link" class="icon #icon-arrow">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg></span></a></div>
</section>