
<!-- blog-preview-columns-->
<section class="bpc grid-row grid-row-width--wide grid-row-padding--short">
  <div class="grid-column grid-row-children-alignment--hcentered proj-wrap">
    <div class="gs--full image-wrap"><img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=Placeholder%20Image&amp;w=680&amp;h=400"/></div>
    <div class="gs--full">
      <div class="grid-row grid-row-padding--short text-wrap">
        <h4 class="heading-4">Blog - 4/22/16</h4>
        <div class="gs--full">
          <div class="gs--full gl--fourthx3 gxl--fifthx3">
            <h3 class="heading-3">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
          </div>
        </div><a href="/">Read More
          <svg viewBox="0 0 24 24" role="link" class="icon #icon-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
          </svg></a>
      </div>
    </div>
  </div>
  <div class="grid-column grid-row-children-alignment--hcentered proj-wrap">
    <div class="gs--full image-wrap"><img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=Placeholder%20Image&amp;w=680&amp;h=400"/></div>
    <div class="gs--full">
      <div class="grid-row grid-row-padding--short text-wrap">
        <h4 class="heading-4">Blog - 4/22/16</h4>
        <div class="gs--full">
          <div class="gs--full gl--fourthx3 gxl--fifthx3">
            <h3 class="heading-3">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
          </div>
        </div><a href="/">Read More
          <svg viewBox="0 0 24 24" role="link" class="icon #icon-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
          </svg></a>
      </div>
    </div>
  </div>
</section>