
<!-- case-study-block-->
<section style="background: url('https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=Placeholder%20Image&amp;w=1440&amp;h=500') center;" class="csb grid-row grid-row-width-wide">
  <div class="gs--full gm--half">
    <div class="grid-column grid-row-padding--short content-wrap">
      <h4 class="heading-4">Project Title and service offered</h4>
      <p>Can you imagine what we will be downloading in another twenty years? I mean who would have ever thought that you could record sound with digital quality fifty years ago? Now we routinely download whole albums worth of music in a couple of minutes to ipods that hold thousands of songs in the space the size of a zippo lighter!</p>
      <svg viewBox="0 0 24 24" role="link" class="icon #icon-arrow">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
      </svg>
    </div>
  </div>
</section>