
<section class="iaai grid-row grid-row-padding--short grid-row-width--wide">
  <div class="gs--full">
    <div class="grid-row section-wrap">
      <div class="gs--full gm--half">
        <div class="grid-column grid-row-padding-short text-wrap">
          <h3 class="heading-3">Lorem ipsum dolor.</h3>
          <div class="line-break"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="gs--full gm--half image-wrap"><img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=Placeholder%20Image&amp;w=560&amp;h=560"/></div>
    </div>
  </div>
</section>