
<!-- quote-testimonial-block-->
<section class="qtb grid-row grid-row-width--wide">
  <div class="gs--full">
    <div class="grid-column grid-row-children-alignment--centered">
      <div class="gs--fourth gm--fifth gl--twelveth"><img src="https://placeholdit.imgix.net/~text?txtsize=28&amp;txt=Placeholder%20Image&amp;w=150&amp;h=150"/></div>
      <div class="gs--tenthx9 gm--fourthx3 gl--fifthx3 gxl--half text-wrap">
        <h3 class="heading-3">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h3>
        <h4 class="heading-4">– Clark Kent, Daily Newspaper</h4>
      </div>
    </div>
  </div>
</section>