
<!-- similar-projects-block-->
<section class="spb grid-row grid-row-width--wide grid-row-padding--short">
  <div class="project-wrap">
    <div style="background: url('https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=&amp;w=680&amp;h=400') no-repeat center;" class="grid-column grid-row-children-alignment--centered project">
      <h2 class="heading-2">Project Title</h2>
      <h3 class="heading-3">Development</h3>
    </div>
  </div>
  <div class="project-wrap">
    <div style="background: url('https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=&amp;w=680&amp;h=400') no-repeat center;" class="grid-column grid-row-children-alignment--centered project">
      <h2 class="heading-2">Project Title</h2>
      <h3 class="heading-3">Development</h3>
    </div>
  </div>
</section>