
<!-- similar-projects-block-->
<section class="spb grid-row grid-row-width--wide grid-row-padding--short">
  <div class="project-wrap"><a href="#">
      <div style="background: url('https://via.placeholder.com/680x400/808080/808080') no-repeat center;" class="grid-column grid-row-children-alignment--centered project">
        <h2 class="heading-2">Project Title</h2>
        <h3 class="heading-3">Development</h3>
      </div></a></div>
  <div class="project-wrap"><a href="#">
      <div style="background: url('https://via.placeholder.com/680x400/808080/808080') no-repeat center;" class="grid-column grid-row-children-alignment--centered project">
        <h2 class="heading-2">Project Title</h2>
        <h3 class="heading-3">Development</h3>
      </div></a></div>
</section>