
<!-- three-column-services-blocks-->
<section class="tcsb">
  <div class="grid-row grid-row-padding--short grid-row-width--wide section-wrap">
    <div class="gs--full">
      <div class="grid-row blocks-wrap">
        <div class="grid-column grid-row-padding--full service-wrap">
          <div class="icon-wrap">
            <svg viewBox="0 0 24 24" role="link" class="icon #icon-circle">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle"></use>
            </svg>
          </div>
          <div class="text-wrap">
            <h2 class="heading-2">Block 1</h2>
            <div class="line-break"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="grid-column grid-row-padding--full service-wrap">
          <div class="icon-wrap">
            <svg viewBox="0 0 24 24" role="link" class="icon #icon-circle">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle"></use>
            </svg>
          </div>
          <div class="text-wrap">
            <h2 class="heading-2">Block 2</h2>
            <div class="line-break"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="grid-column grid-row-padding--full service-wrap">
          <div class="icon-wrap">
            <svg viewBox="0 0 24 24" role="link" class="icon #icon-circle">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-circle"></use>
            </svg>
          </div>
          <div class="text-wrap">
            <h2 class="heading-2">Block 3</h2>
            <div class="line-break"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>