header.nav
  display: none
  +medium
    display: initial
  height: 6.75em
  width: 100%
  position: absolute
  ul
    padding-left: 3em
  svg
    width: 6em
  li
    margin: 0
    color: white
    font-size: 1.25em
  .btn
    padding: 1.5em 1em
  .nav-wrap
    justify-content: space-between
  .menu-items
    display: flex
    align-items: center
    justify-content: space-between

  .logo-wrap a
    @extend %futura-font
    font-weight: 600
    font-size: 1.75em
header.mobile-nav
  height: 6.75em
  width: 100%
  position: absolute
  // .mobile-menu-wrap
  //   svg
  //     width: 2em
  .logo-wrap
    svg
      width: 8em
    a
      @extend %futura-font
      font-weight: 600
      font-size: 1.75em
  .nav-wrap
    justify-content: space-between
  .heading-2
    font-size: 3em
  +medium
    display: none
