
<header class="nav">
  <div class="grid-row">
    <div class="gs--full">
      <div class="grid-row grid-row-children-alignment--vcentered grid-row-padding--short grid-row-width--wide nav-wrap">
        <div class="logo-wrap"><a href="/">LOGO</a></div>
        <div class="gm--sixthx5 gl--fourthx3 gxl--fifthx3">
          <ul class="menu-items">
            <li><a href="/">Menu Item</a></li>
            <li><a href="/">Menu Item</a></li>
            <li><a href="/">Menu Item</a></li>
            <li><a href="/">Menu Item</a></li>
            <li><a href="/" class="btn btn-1 btn-1a">Call to Action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<header class="mobile-nav">
  <div class="grid-row">
    <div class="gs--full">
      <div class="grid-row grid-row-children-alignment--vcentered grid-row-padding--short grid-row-width--wide nav-wrap">
        <div class="logo-wrap"><a href="/">LOGO</a></div>
        <div class="mobile-menu-wrap">
          <svg viewBox="0 0 24 24" role="link" class="icon #icon-hamburger">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-hamburger"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>