
<header class="styleguide-nav-wrap">
  <nav class="styleguide-nav">
    <div class="grid-row grid-row-children-alignment--hcentered">
      <div class="gs--full sg-heading-wrap">
        <h1 class="heading-1">Team Ayni Tools</h1>
      </div>
      <div class="gs--full">
        <div class="grid-row nav-wrap">
          <div class="gxl--fifth logo-wrap"><a href="/" class="logo"></a></div>
          <div class="gxl--fifthx4">
            <div class="grid-row nav-button-wrap">
              <div class="btn-wrap"><a href="/" class="btn btn-1 btn-1a">Grid</a></div>
              <div class="btn-wrap"><a href="/styleguide/buttons" class="btn btn-1 btn-1a">Buttons</a></div>
              <div class="btn-wrap"><a href="/" class="btn btn-1 btn-1a">Colors</a></div>
              <div class="btn-wrap"><a href="/" class="btn btn-1 btn-1a">Fonts</a></div>
              <div class="btn-wrap"><a href="/" class="btn btn-1 btn-1a">Images</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>