|{% set pageId = 'case-studies' %}
|{% extends "_layout" %}

|{% block content %}
|{% include 'content-blocks/_hero-content-block' %}
|{% include 'content-blocks/_study-description-and-text' %}
|{% include 'content-blocks/_study-text-with-media' %}
|{% include 'content-blocks/_study-statistics' %}
|{% include 'content-blocks/_quote-testimonial-block' %}
|{% include 'content-blocks/_similar-projects-block' %}
//- |{% include 'content-blocks/_case-study-block' %}
//- |{% include 'content-blocks/_case-study-block' %}
//- |{% include 'content-blocks/_case-study-block' %}
|{% include 'content-blocks/_contact-button-block' %}
|{% endblock %}