
{% extends "_layout" %}
{% set pageId = 'home' %}
{% block content %}
{% include 'content-blocks/_hero-content-block' %}
{% include 'content-blocks/_intro-about-and-image' %}
{% include 'content-blocks/_three-column-services-blocks' %}
{% include 'content-blocks/_blog-preview-columns' %}
{% include 'content-blocks/_quote-testimonial-block' %}
{% include 'content-blocks/_similar-projects-block' %}
{% include 'content-blocks/_about-content' %}
{% include 'content-blocks/_contact-button-block' %}
{% endblock %}