|{% set pageId = 'blog' %}

|{% extends "_layout" %}

|{% block content %}
|{% include 'content-blocks/_hero-content-block' %}
|{% include 'content-blocks/_blog-preview-entry' %}
|{% include 'content-blocks/_contact-button-block' %}
|{% endblock %}