// footer

footer
  .grid-row.grid-row-padding--full.grid-row-width--wide
    .gs--full
      .grid-row.grid-row-chidlren-alignment--centered.footer-wrap
        .gs--third.logo-wrap
          .grid-row.grid-row-chidlren-alignment--centered
            a(href="/") LOGO
            h3.heading-3 2016
        .gs--third.gm--fourth.gl--fifth.gxl--sixth
          .grid-row.grid-row-chidlren-alignment--centered.social-media-wrap
            a(href='/')
              svg(viewBox="0 0 24 24" role="link" class="icon #icon-twitter")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter")
            a(href='/')
              svg(viewBox="0 0 24 24" role="link" class="icon #icon-instagram")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram")
            a(href='/')
              svg(viewBox="0 0 24 24" role="link" class="icon #icon-linkedin")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin")
