svg(display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="257" height="23" viewBox="0 0 257 23")
  def
    g#icon-logo
      path(d='M144,4.5v77c0,2.5,2,4.5,4.5,4.5H230c2.5,0,4.5,2,4.5,4.5v0c0,2.5-2,4.5-4.5,4.5h-81.5c-2.5,0-4.5,2-4.5,4.5v29\
      c0,2.5,2,4.5,4.5,4.5h124c2.5,0,4.5-2,4.5-4.5V4.5c0-2.5-2-4.5-4.5-4.5h-52C218,0,216,2,216,4.5v44.4c0,2.5-2,4.5-4.5,4.5h-2\
      c-2.5,0-4.5-2-4.5-4.5V4.5c0-2.5-2-4.5-4.5-4.5h-52C146,0,144,2,144,4.5z')
      path(d='M81.5,95H47c-2.5,0-4.5-2-4.5-4.5v0c0-2.5,2-4.5,4.5-4.5h34.5c2.5,0,4.5-2,4.5-4.5v-30c0-2.5-2-4.5-4.5-4.5h-77\
      C2,47,0,49,0,51.5v77c0,2.5,2,4.5,4.5,4.5h77c2.5,0,4.5-2,4.5-4.5v-29C86,97,84,95,81.5,95z')
      path(d='M436.5,37h124c2.5,0,4.5-2,4.5-4.5v-28c0-2.5-2-4.5-4.5-4.5h-124C434,0,432,2,432,4.5v28C432,35,434,37,436.5,37z')
      path(d='M4.5,38h86c2.5,0,4.5,2,4.5,4.5v86c0,2.5,2,4.5,4.5,4.5h29c2.5,0,4.5-2,4.5-4.5V4.5c0-2.5-2-4.5-4.5-4.5H4.5C2,0,0,2,0,4.5\
      v29C0,36,2,38,4.5,38z')
      path(d='M292.5,133h52c2.5,0,4.5-2,4.5-4.5V47c0-2.5,2-4.5,4.5-4.5h2c2.5,0,4.5,2,4.5,4.5v81.5c0,2.5,2,4.5,4.5,4.5h52\
      c2.5,0,4.5-2,4.5-4.5V4.5c0-2.5-2-4.5-4.5-4.5h-124C290,0,288,2,288,4.5v124C288,131,290,133,292.5,133z')
      path(d='M560.5,48h-124c-2.5,0-4.5,2-4.5,4.5v76c0,2.5,2,4.5,4.5,4.5h124c2.5,0,4.5-2,4.5-4.5v-76C565,50,563,48,560.5,48z')
    g#icon-circle
      path(d="M12 1c6.065 0 11 4.935 11 11s-4.935 11-11 11-11-4.935-11-11 4.935-11 11-11zm0-1c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z")
    g#icon-twitter
      path(d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z")
    g#icon-instagram
      path(d="M11.984 16.815c2.596 0 4.706-2.111 4.706-4.707 0-1.409-.623-2.674-1.606-3.538-.346-.303-.735-.556-1.158-.748-.593-.27-1.249-.421-1.941-.421s-1.349.151-1.941.421c-.424.194-.814.447-1.158.749-.985.864-1.608 2.129-1.608 3.538 0 2.595 2.112 4.706 4.706 4.706zm.016-8.184c1.921 0 3.479 1.557 3.479 3.478 0 1.921-1.558 3.479-3.479 3.479s-3.479-1.557-3.479-3.479c0-1.921 1.558-3.478 3.479-3.478zm5.223.369h6.777v10.278c0 2.608-2.114 4.722-4.722 4.722h-14.493c-2.608 0-4.785-2.114-4.785-4.722v-10.278h6.747c-.544.913-.872 1.969-.872 3.109 0 3.374 2.735 6.109 6.109 6.109s6.109-2.735 6.109-6.109c.001-1.14-.327-2.196-.87-3.109zm2.055-9h-12.278v5h-1v-5h-1v5h-1v-4.923c-.346.057-.682.143-1 .27v4.653h-1v-4.102c-1.202.857-2 2.246-2 3.824v3.278h7.473c1.167-1.282 2.798-2 4.511-2 1.722 0 3.351.725 4.511 2h7.505v-3.278c0-2.608-2.114-4.722-4.722-4.722zm2.722 5.265c0 .406-.333.735-.745.735h-2.511c-.411 0-.744-.329-.744-.735v-2.53c0-.406.333-.735.744-.735h2.511c.412 0 .745.329.745.735v2.53z")
    g#icon-linkedin
      path(d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z")
    g#icon-arrow
      path(d="M24 11.871l-5-4.871v3h-19v4h19v3z")
    g#icon-hamburger
      path(d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z")






    

//- To use this, copy & paste the code below. Then, replace the href attribute to the id of the icon you want to use
//- svg(viewBox="0 0 24 24" role="link" class="icon #icon-email")
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email")
